/*caracteristicas da pagina principal*/

#princ-pr{
    background-color: rgb(141, 140, 129);
}

#title{
    background-color: yellow;
    color: blue;
    font-size: 55px;
    text-align: center;
}

.nomes-receitas{
    background-color: palegoldenrod;
    color: brown;
    font-size: 35px;
}

/*caracteristicas gerais para sub paginas*/

#princ-se{
    background-color: palegoldenrod;
}

.title2{
    font-size: 55px;
    text-align: center;
}

.imagem{
    height: auto;
    width: 500px;
}

.subtitle{
    font-size: 35px;
}

.text{
    font-size: 25px;
}

/*caracteristicas especificas de cada sub pagina*/

#title-D{
    background-color: red;
    color: yellow;
}